<h2 class='home'>HOME PAGE</h2>

<h2>URL: <%= request.original_url %></h2>
<br>
<h2>secret_key_base: <%= Rails.application.secret_key_base %></h2>
<br>
<img src="https://test-iiif.library.ucla.edu/iiif/2/healthcheckimage/full/!200,200/0/default.jpg">
