<div id="viewer"></div>

<script src="https://unpkg.com/mirador@2.6.0/dist/mirador.min.js"></script>
    <script type="text/javascript">

     $(function() {
       myMiradorInstance = Mirador({
         "id": "viewer",
         "layout": "1",
         "buildPath": "https://unpkg.com/mirador@2.6.0/dist/",
         "data": [
          { "manifestUri": "https://test-iiif.library.ucla.edu/healthcheckimage/manifest", "location": "UCLA"}
         ],
         "windowObjects": [{
           loadedManifest: "https://test-iiif.library.ucla.edu/healthcheckimage/manifest",
           viewType: "ImageView",
           slotAddress: "row1.column1"
         }
         ],
         "annotationEndpoint": { "name":"Local Storage", "module": "LocalStorageEndpoint" },
         "windowSettings": {
           "canvasControls": { // The types of controls available to be displayed on a canvas
             "imageManipulation" : {
               "manipulationLayer" : true,
               "controls" : {
                 "mirror" : true
               }
             }
           }
         }
       });
     });
    </script>
