<h2 class='home'>HOME PAGE</h2>

<h3 class='created'><small>cookies[:sinai_authenticated].present?</small> <%= cookies[:sinai_authenticated].present? %> <br><small>@cookie_created:</small> <%= @cookie_created %></h3>

<h2>URL: <%= request.original_url %></h2>
<br>\<br>
<img src="https://test-iiif.library.ucla.edu/iiif/2/healthcheckimage/full/!200,200/0/default.jpg">
