<header><h1>Sinai Digital Library - <small>Proof of Concept</small></h1></header>
<hr>
<%= link_to 'Home', root_path %> | <%= link_to 'Login', login_path %> | chrome://settings/siteData | Firefox: http://localhost:3030/?token= | ?token=
<hr>
